<div class="box addlink">
    <h3>Añade un link
        {{#if fail }}
            <span class="msg-side fail">
                &nbsp;
                <span class="icon-exclamation">
                    <i class="fa-solid fa-circle-exclamation"></i>
                </span>
                {{fail}}
            </span>
        {{/if}}
    </h3>
    
    <form action="/links/add" method="POST">
        <div class="input">
            <input type="url" name="enlace" placeholder="Enlace *" required autofocus
                {{#if data}}
                    value={{data.enlace}}
                {{/if}}
            >
        </div>

        <div class="input">
            <input type="text" name="titulo" placeholder="Título *" maxlength="15" required
                {{#if data}}
                    value={{data.titulo}}
                {{/if}}
            >
        </div>

        <div class="input">
            <input type="text" name="descripcion" placeholder="Descripción"
                {{#if data}}
                    value={{data.descripcion}}
                {{/if}}
            >
        </div>

        <div class="btn">
            <select class="select" name="carpeta" id="carpeta">
                <option value="" selected>
                    Carpeta
                </option>
                {{#each folders }}
                    <option value="{{id}}">{{nombre}}</option>
                {{/each }}
            </select>

            <button>
                <span>Guardar</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
            </button>
        </div>
    </form>
</div>