{{!-- Vista del formulario de edición de links --}}

<div class="box editlink">
    <form action="/links/edit/{{links.id}}" method="POST">
        <h3>Editar link</h3>    

        <div class="input">
            <input type="url" name="enlace" placeholder="Enlace" value="{{links.enlace}}" required autofocus>
        </div>

        <div class="input">
            <input type="text" name="titulo" placeholder="Título" value="{{links.titulo}}" required>
        </div>

        <div class="input">
            <input type="text" name="descripcion" placeholder="Descripción" value="{{links.descripcion}}">
        </div>

        <div class="btn">
            <select class="select" name="carpeta" id="carpeta">
                {{#select links.carpeta}}
                    <option value="">Carpeta</option>
                    {{#each folders }}
                        <option value="{{id}}">{{nombre}}</option>
                    {{/each }}
                {{/select}}
            </select>
            <button>
                <span>Modificar</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
            </button>
        </div>
    </form>
</div>
